@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "TT Hoves Pro Trial Regular";
  src: url("/fonts/TT\ Hoves\ Pro\ Trial\ Variable.ttf");
}
:root {
  /* --primary: #51c27c; */
  --primary-btn: linear-gradient(145.99deg, #fc660f 10.07%, #eb3f1a 92.17%);
  --secondary: #f06a3d;

  --bg: #fbfbfb;
  --hot-bg: #ff000018;

  --dark: #000;
  /* --footer-dark: #092131; */

  --gray: #555555;
  --nav-color: #33393c;
  --gray-1: #656565;
  --gray-2: #676767;
  --gray-3: #aaaaaa;

  --slate: #e8e8e8;
  --slate-1: #f8f8f8;
  --slate-2: #f6f6f7;
  --slate-3: #f3f5f8;
  --slate-4: #fafafa;

  /* --border-color: #d2eadd; */
  --border-color: #e1e6e3;

  --border-dark: #525255;
}

body {
  /* @apply dark:bg-[#202327]; */
  font-family: "TT Hoves Pro Trial Regular", sans-serif;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

@layer components {
  .container_section_home {
    @apply mx-auto w-full  px-4 md:px-6 lg:px-8 xl:px-0;
  }
  .container_section_sm {
    @apply mx-auto w-full  px-4 md:px-6 lg:px-8 xl:px-0;
  }
  .container_search {
    @apply mx-auto w-full  px-4 md:px-6 lg:px-20 xl:px-0;
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.accordionItem [data-state="open"] .accordionTrigger,
.accordionItem [data-state="closed"] .accordionTrigger {
  text-decoration: none;
}

.accordionTrigger::after {
  display: none;
}
/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.react-date-picker {
  border: none !important; /* Remove the outer border */
  box-shadow: none !important; /* Remove box shadow */
}

.react-date-picker__wrapper {
  border: none !important; /* Remove the input wrapper's border */
  box-shadow: none !important; /* Remove any shadow */
}
